<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/index.css' %}">
    
</head>
<body>
    <h2 class="top">Stock Market Data</h2>
    <a class="button button3 right" href="{% url 'create_data' %}">Create Data</a>
    <table>
        <thead>
            <th>Date</th>
            <th>Trade Code</th>
            <th>High</th>
            <th>Low</th>
            <th>Open</th>
            <th>Close</th>
            <th>Volume</th>
            <th>Actions</th>
            
        </thead>
        <tbody>
            {% for value in data %}
            <tr>
                <td>{{ value.date }}</td>
                <td>{{ value.trade_code }}</td>
                <td>{{ value.high }}</td>
                <td>{{ value.low }}</td>
                <td>{{ value.open }}</td>
                <td>{{ value.close }}</td>
                <td>{{ value.volume }}</td>
                <td class="actions">
                    <a class="button button1" href="{% url 'edit_data' value.id %}">Edit</a>
                    <a class="button button2" href="{% url 'delete_data' value.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>